/*! HTML5 Boilerplate v8.0.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.1.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
    html {
      font-size: 15px;
    }

    /*****HEADER/HERO*****/

   .hero {
     display: flex;
     flex-flow: row wrap;
     background: url('../images/mobile/image-hero.jpg');
     background-size: cover;
     justify-content: center;
     min-height: 650px;
   }

   .header-wrapper {
     display: flex;
     flex-flow: row wrap;
     justify-content: space-between;
     width: 100%;
   }

   header {
     display: flex;
     flex-flow: row wrap;
     width: 100%;
     padding: 0 24px;
     height: 100%;
     justify-content: space-between;
     margin: 40px 0 -75px;
     z-index: 3;
     align-items: flex-start;
   }

   #logo {
     width: 144px;
   }

   #navmenu { 
    display: block;
    position: absolute;
    background-color: #000;
    padding: 221px 0 196px;
    margin: 0;
    width: 100%;
   }

   #navmenu li {
     font-size: 25px;
     padding: 0 24px 25px;
     list-style: none;
     font-family: "Josefin Sans", sans-serif;
     text-transform: uppercase;
     font-weight: 200;
   }

   #navmenu a {
     color: #fff;
     text-decoration: none;
   }

   .toggle-off {
     display: none;
   }

   .hide {
    top: -106%;
  }

  .slide-down {
    animation: slide-down .4s ease-out;
    top: 0;
  }

  .slide-up {
    animation: slide-up .1s ease-in;
    top: -106%;
  }

   .hero-text h1 {
     width: 279px;
     padding: 25px 25px 17px;
     font-family: "Josefin Sans", sans-serif;
     color: #fff;
     text-transform: uppercase;
     font-weight: 300;
     font-size: 40px;
     line-height: 38px;
     border: solid 2px #fff;
     margin: 0;
   }

   /*****INTERACTIVE VR*****/

   #interactive {  
     flex-basis: 100%;
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     margin: 96px 0 0;
   }

   #image-interactive{
     flex-basis: 327px;
     margin: 0;
   }

   #image-interactive img {
     width: 100%;
   }

   #text-interactive {
     display: flex;
     flex-flow: row wrap;
     text-align: center;
     justify-content: center;
     flex-basis: 279px;
   }

   #text-interactive h2 {
     font-family: "Josefin Sans", sans-serif;
     width: 100%;
     text-transform: uppercase;
     font-size: 32px;
     font-weight: 300;
     margin: 48px 0 16px;
     padding: 0;
   }

   #text-interactive p {
     font-family: "Alata", sans-serif;
     margin: 0;
     font-size: 15px;
     line-height: 25px;
     color: hsl(0, 0%, 55%);
   }

   /*****OUR CREATIONS*****/

   #creations {
     display: flex;
     flex-flow: row wrap;
     justify-content: center;
     flex-basis: 327px;
     margin: 48px 0;
   }

   #creations h2 {
     text-align: center;
     font-family: "Josefin Sans", sans-serif;
     font-size: 32px;
     text-transform: uppercase;
     text-align: center;
     margin: 48px 0;
     justify-content: center;
     width: 100%;
     font-weight: 300;
   }

   #creations-body {
    display: grid;
    width: 327px;
    grid-template-rows: 120px 120px 120px 120px 120px 120px 120px 120px;
    grid-template-columns: 100%;
    grid-row-gap: 24px;
  }

  .creation {
    padding: 30px 20px;
    display: flex;
  }

  .overlay {
    width: 327px;
    padding: 60px 0;
    margin-top: -30px;
    margin-left: -20px;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(90deg, rgba(0,0,0,.6) 0%, rgba(0,0,0,0) 50%);
    z-index: 1;
  }

  .creation h3 {
    font-family: "Josefin Sans", sans-serif;
    color: #fff;
    max-width: 128px;
    justify-content: flex-start;
    align-items: flex-end;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 200;
    line-height: 24px;
    z-index: 2;
  }

  #deep-earth {
    background: url('../images/mobile/image-deep-earth.jpg') center;
    background-size: cover;
  }

  #night-arcade {
    background: url('../images/mobile/image-night-arcade.jpg') center;
    background-size: cover;
  }

  #soccer-team {
    background: url('../images/mobile/image-soccer-team.jpg') center;
    background-size: cover;
  }

  #the-grid {
    background: url('../images/mobile/image-grid.jpg') center;
    background-size: cover;
  }

  #the-grid h3 {
    max-width: 60px;
  }

  #from-above {
    background: url('../images/mobile/image-from-above.jpg') center;
    background-size: cover;
  }

  #borealis {
    background: url('../images/mobile/image-pocket-borealis.jpg') center;
    background-size: cover;
  }

  #curiosity {
    background: url('../images/mobile/image-curiosity.jpg') center;
    background-size: cover;
  }

  #fisheye {
    background: url('../images/mobile/image-fisheye.jpg') center;
    background-size: cover;
  }

  .more-button {
    width: 157px;
    padding: 13px;
    background-color: #fff;
    border: solid 1px #000;
    color: #000;
    font-family: "Alata", sans-serif;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 14px;
    margin: 34px 0;
  }

  #desktop-button {
    display: none;
  }

  /*****FOOTER*****/
  footer {
    padding: 56px 0;
    display: flex;
    justify-content: center;
    background-color: #000;
  }

  .footer-wrapper {
    display: flex;
    justify-content: center;
    flex-flow: row wrap;
    width: 275px;
  }

  #footer-nav {
    width: 100%;
    text-align: center;
    padding: 0;
    margin: 32px 0;
  }

  #footer-nav li {
    list-style: none;
    margin: 0;
    line-height: 25px;
    padding: 8px 0;
  }

  #footer-logo {
    width: 144px;
  }

  #footer-nav a {
    text-decoration: none;
    color: #fff;
    font-family: "Alata", sans-serif;
  }

  .socials {
    width: 144px;
    display: flex;
    justify-content: space-between;
  }

  .socials img {
    width: 24px;
  }

  #copyright {
    margin: 16px 0;
    width: 100%;
    font-family: "Alata", sans-serif;
    color: hsl(0, 0%, 41%);
  }

  .attribution {
    margin: 40px 0 0;
    width: 65%;
    font-family: "Alata", sans-serif;
    color: hsl(0, 0%, 41%);
    font-size: 12px;
    line-height: 16px;
  }

  .attribution a {
    text-decoration: none;
    color: #fff;
  }

/*****ANIMATIONS*****/

@keyframes slide-down {
  from {
    top: -106%;
    opacity: 0;
  }

  to {
    top: 0;
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    opacity: 1;
    top: 0;
  }

  to {
    opacity: 0;
    top: 0;
  }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden,
[hidden] {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
 * Extends the .sr-only class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix::before,
.clearfix::after {
  content: " ";
  display: table;
}

.clearfix::after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 768px) {

}

@media only screen and (min-width: 1200px) {

  .hero {
    background: rgba(0, 0, 0, 0.4) url('../images/desktop/image-hero.jpg') top;
    background-size: cover;
    filter: saturate(1.5);
  }

  .hero:before {
    content: "";
    position: absolute;
    left: 0; right: 0;
    top: 0; bottom: 0;
    height: 650px;
    background: rgba(0,0,0,.5);
    mix-blend-mode:multiply;
    overflow: hidden;
  }

  .header-wrapper {
    display: flex;
    flex-flow: row wrap;
    margin: 64px auto;
    width: 1100px;
  }

  .header-wrapper,
  .hero-text {
    z-index: 5;
  }

  header {
    width: 20%;
    margin: 0;
    padding: 0;
    height: 100%;
    align-items: baseline;
  }

  #logo {
    width: 192px;
  }

  #hamburger,
  #close {
    display: none;
  }

  #navmenu {
    position: inherit;
    background: none;
    padding: 0;
    margin: 0;
    width: 380px;
    display: flex;
    justify-content: space-between;
  }

  #navmenu li {
    display: inline;
    text-transform: none;
    font-family: "Alata", sans-serif;
    font-size: 15px;
    padding: 0;
  }

  .hide {
    top: 0;
  }

  .hero-text {
    width: 1100px;
    margin-top: -80px;
  }

  .hero-text h1 {
    font-size: 72px;
    width: 570px;
    line-height: 70px;
    padding: 40px 40px 26px;
  }

  #interactive {
    margin: 165px 0;
    width: 1110;
    align-items: flex-end;
    justify-content: center;
  }

  #image-interactive {
    flex-basis: 730px;
  }

  #text-interactive {
    background-color: #fff;
    flex-basis: 445px;
    padding: 96px 0 0 96px;
    margin-left: -160px;
    text-align: left;
  }

  #text-interactive h2 {
    font-size: 48px;
    margin: 0 0 25px;
  }

  /*****CREATIONS*****/

  #creations {
    flex-basis: 1114px;
    justify-content: center;
  }

  #creations-header {
    display: flex;
    width: 1114px;
    justify-content: space-between;
    align-items: center;
  }

  #creations-header h2 {
    text-align: left;
    font-size: 48px;
    margin: 20px 0 80px;
  }
  
  #creations-body {
    width: 1114px;
    grid-template-columns: 256px 256px 256px 256px;
    grid-template-rows: 450px 450px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }

  #desktop-button {
    display: block;
  }

  .more-button {
    padding: 0;
    height: 40px;
    margin: 20px 0 80px;
  }
  
  #mobile-button {
    display: none;
  }

  #deep-earth {
    background: url('../images/desktop/image-deep-earth.jpg') center;
    background-size: cover;
  }

  #night-arcade {
    background: url('../images/desktop/image-night-arcade.jpg') center;
    background-size: cover;
  }

  #soccer-team {
    background: url('../images/desktop/image-soccer-team.jpg') center;
    background-size: cover;
  }

  #the-grid {
    background: url('../images/desktop/image-grid.jpg') center;
    background-size: cover;
  }

  #the-grid h3 {
    max-width: 60px;
  }

  #from-above {
    background: url('../images/desktop/image-from-above.jpg') center;
    background-size: cover;
  }

  #borealis {
    background: url('../images/desktop/image-pocket-borealis.jpg') center;
    background-size: cover;
  }

  #curiosity {
    background: url('../images/desktop/image-curiosity.jpg') center;
    background-size: cover;
  }

  #fisheye {
    background: url('../images/desktop/image-fisheye.jpg') center;
    background-size: cover;
  }

  .overlay {
    width: 256px;
    padding: 225px 0;
    margin-top: 0;
    margin-left: 0;
    position: absolute;
    background: rgb(0,0,0);
    background: linear-gradient(180deg, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.601863) 100%);
    z-index: 1;
  }

  .creation {
    padding: 0;
  }

  .creation h3 {
    font-size: 32px;
    line-height: 32px;
    max-width: 164px;
    margin-left: 40px;
    margin-top: 354px;
  }

}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *::before,
  *::after {
    background: #fff !important;
    color: #000 !important;
    /* Black prints faster */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]::after {
    content: " (" attr(href) ")";
  }

  abbr[title]::after {
    content: " (" attr(title) ")";
  }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]::after,
  a[href^="javascript:"]::after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
   * Printing Tables:
   * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

